@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bree+Serif&family=Cabin+Sketch&family=Caveat:wght@700&family=Fredericka+the+Great&family=Homemade+Apple&family=Kaushan+Script&family=Lobster&family=Nothing+You+Could+Do&family=Playball&family=Rubik+80s+Fade&display=swap');


.name-tag {
    font-family: 'Fredericka the Great', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.homemade-apple {
    font-family: 'Homemade Apple', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.lobster {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.kaushan-script {
    font-family: 'Kaushan Script', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.nothing-you-can-do {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.playball {
    font-family: 'Playball', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.rubik-80s-fade {
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.black-ops-one {
    font-family: 'Black Ops One', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.bree-serif {
    font-family: 'Bree Serif', serif;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.cabin-sketch {
    font-family: 'Cabin Sketch', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.caveat {
    font-family: 'Caveat', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}


.quote-box {
    margin-top: 65px;
}
.quote {
    font-size: 45px;
    color: #e5e3e3;
}

.author {
    font-size: 25px;
    color: #e5e3e3;
}

.name_role_box {
    margin: auto 0;
}

.role {
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.name-pic_box {
    display: flex;
    justify-content: space-around;
    margin: 0 45px;
}

.background_box {
    position: relative;
}

.black_background {
    position: absolute;
    top: 10px;
    transform: rotate(-8deg);
    /* box-shadow: 5px 10px #888888; */
    box-shadow: -10px -10px 8px rgba(218, 215, 215, 0.2);
    background-color: #181818;
    height: 350px;
    width: 350px;
}
.homepage_pic { 
    transform: rotate(8deg);
    box-shadow: 10px 10px 8px rgba(236, 10, 10, 0.44);
    margin: 25px 0 0 25px;
    height: 350px;
    width: 350px;
}