@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bree+Serif&family=Cabin+Sketch&family=Caveat:wght@700&family=Fredericka+the+Great&family=Homemade+Apple&family=Kaushan+Script&family=Lobster&family=Nothing+You+Could+Do&family=Playball&family=Rubik+80s+Fade&display=swap');


.name-tag {
    font-family: 'Fredericka the Great', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.homemade-apple {
    font-family: 'Homemade Apple', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.lobster {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.kaushan-script {
    font-family: 'Kaushan Script', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.nothing-you-can-do {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.playball {
    font-family: 'Playball', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.rubik-80s-fade {
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.black-ops-one {
    font-family: 'Black Ops One', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.bree-serif {
    font-family: 'Bree Serif', serif;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.cabin-sketch {
    font-family: 'Cabin Sketch', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}

.caveat {
    font-family: 'Caveat', cursive;
    font-size: 75px;
    color: rgb(149, 149, 149);
}