@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url('../images/digital-abstract.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px) brightness(60%);
    -webkit-filter: blur(0px) brightness(60%);
}

@media (min-width: 895px) {
    #hero {
        background-position: left;
    }
}