.App {
  text-align: center;
  /* background-image: url(../../images/city.jpeg); */
  background-image: url(../../images/dice.webp);
  /* background-image: url(../../images/foggy.jpeg); */
  /* background-image: url(../../images/green-mountain.jpeg); */
  /* background-image: url(../../images/moon.jpeg); */
  /* background-image: url(../../images/morning.jpeg); */
  /* background-image: url(../../images/spiral_sky.jpeg); */
  /* background-image: url(../../images/vibrant_sky.jpeg); */
  /* background-image: url(../../images/whoa.jpeg); */
  min-height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  user-select: none;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 

