.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  /* background-image: url(../../images/dice.webp); */

}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* background-image: url(../../images/blue-futuristic.webp); */
  background-image: url(../../images/digital-abstract.jpeg);
  /* background-image: url(../../images/letters_numbers.jpeg); */
  background-repeat: no-repeat;
  background-attachment: fixed; 
  user-select: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(3px) brightness(60%);
  -webkit-filter: blur(3px) brightness(60%);
}
 

