.contact-info {
    font-family: 'Fredericka the Great', cursive; 
    color: rgb(209, 207, 207); 
    margin-bottom: 25px;
}

.contact-text {
    font-size: 25px;
    color: rgb(209, 207, 207);
    font-family: 'Cabin Sketch', cursive;
    
}