@import "react-alice-carousel/lib/alice-carousel.css"; 
 
 
.testing {
   width: 80%;
   height: 350px;
   object-fit: cover;
   border-radius: 15px; 
}

.pic1 {
   object-position: 0px -95px;
}
.pic3 {
   object-position: 0px -45px;
}
.pic4 {
   object-position: 0px -155px;
}

 
 .flex-carousel {
    display: flex;
    margin-bottom: 15px;
 }
 
 .carousel-container {
    width: 55%;
    margin: auto;
 }

 .carousel-indicators {
   margin-bottom: 0;
   background-color: #232222;
   position: absolute;
   right: -5%;
   left: -5%;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
 }

 .carousel-caption {
   padding: 0;
   height: 26px;
   background-color: #232222;
   position: absolute;
   right: 10%;
   bottom: 1.25rem;
   left: 10%;
 }
 .carousel-caption > p {
   padding: 0;
   margin: 0;
 }

 /* .carousel-img {
    object-fit: cover;
    object-position: center;
    width: 500px;
    height: 300px;
 } */



 @media(min-width: 1375px) {

   /* family */
   .pic1 {
      object-position: 0px -95px;
   }
   /* wife */
   .pic3 {
      object-position: 0px -45px;
   }
   /* pigs */
   .pic4 {
      object-position: 0px -195px;
   }
 }

 @media(min-width: 1495px) {

   /* family */
   .pic1 {
      object-position: 0px -115px;
   }
   /* wife */
   .pic3 {
      object-position: 0px -65px;
   }
   /* pigs */
   .pic4 {
      object-position: 0px -235px;
   }
 }