@import "react-alice-carousel/lib/alice-carousel.css"; 
 
 
.testing {
   width: 80%;
   height: 350px;
   object-fit: cover;
   border-radius: 15px; 
}

.pic1 {
   object-position: 0px -95px;
}
.pic3 {
   object-position: 0px -45px;
}
.pic4 {
   object-position: 0px -155px;
}

 
 .flex-carousel {
    display: flex;
    margin-bottom: 45px;
 }
 
 .carousel-container {
    width: 55%;
    margin: auto;
 }

 .carousel-indicators {
   margin-bottom: 0;
   background-color: #232222;
   position: absolute;
   right: -5%;
   left: -5%;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   /* box-shadow: 10px 10px 8px rgba(236, 10, 10, 0.44); */
 }

 .carousel-caption {
   padding: 0;
   height: 26px;
   background-color: #232222;
   position: absolute;
   right: 10%;
   bottom: 1.25rem;
   left: 10%;
 }
 .carousel-caption > p {
   padding: 0;
   margin: 0;
 }

 /* .carousel-img {
    object-fit: cover;
    object-position: center;
    width: 500px;
    height: 300px;
 } */


 .about-box {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .about-box > h1 {
   font-family: 'Fredericka the Great', cursive; 
   color: rgb(209, 207, 207);  
 }

 .about-text {
   font-size: 25px;
   color: rgb(209, 207, 207);
   /* font-family: 'Homemade Apple', cursive; */
   /* font-family: 'Lobster', cursive; */
   /* font-family: 'Kaushan Script', cursive; */
   /* font-family: 'Nothing You Could Do', cursive; */
   /* font-family: 'Playball'; */
   /* font-family: 'Bree Serif', serif; */
   font-family: 'Cabin Sketch', cursive;
   /* font-family: 'Caveat', cursive; */

   width: 80%;
   margin-bottom: 50px;
   padding: 15px 55px 5px 55px;
   line-height: 1.5;
   /* background-color: #232222; */
   background-image: linear-gradient(to bottom right, #1a1414, #5f1919);
}