@import "react-alice-carousel/lib/alice-carousel.css"; 
 
 
.testing {
   width: 60%;
   height: 400px;
   object-fit: cover;
}

 
 .flex-carousel {
    display: flex;
 }
 
 .carousel-container {
    width: 500px;
    height: 300px;
    max-height: 300px;
    margin: auto;
 }

 .carousel-img {
    object-fit: cover;
    object-position: center;
    width: 500px;
    height: 300px;
 }